{% extends 'base.html'%}
{% load staticfiles %}

{% block header %}
    <a href="add_comment"><button type="button" class="btn btn-info">Add comment</button></a>
{% endblock %}

{% block content %}
<hr>
<h1>{{post.title}} </h1>
<p>pubslished: {{post.published}}</p>
<h4>{{post.body}}</h4>
<hr>
<h5>Comments</h5>
<table class="table">
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
    </tr>
    {% for comment in comments %}
    <tr>
        <th>{{comment.user}}</th>
        <th>{{comment.published}}</th>
        <th>{{comment.message}}</th>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block footer %}

{% endblock %}